
.header-container{
  height: 2em;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1em;
}
.detail-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-image {
  border: 0.1em solid #efedef;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.back-button{
  margin-left: auto;
  margin-right: 1em;
  background-color: white;
  color: black;
  border: 2px solid #ededed; 
  border-radius: 2px;
  padding: 2px;

}
.back-button:hover{
  background-color: black; 
  color: white;
}
#movie_img {
  max-width: 10em;
  width: 7em;
  height: 10em;
  /* min-width: 10em; */
}
#movie-details{
  font-weight: bold;
  color: gray;
  
}
.detail-info {
  
  width: auto;
  padding: 0 1em 1em 1em;
 
}


#title{
  font-weight: bold;
}
#rating{
  color: grey;

}