.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 2px;

  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-input {
  margin: 2px 2px 2px 5px;
  padding: 0.5em;
  margin: 5px;
  width: 40%;
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #ededed;
  padding: 1em .01em;
}
